{% extends 'layout.twig' %}

{% block body %}
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-5 col-xl-4">
                <form class="form-signin" action="{{ path_for('login') }}" method="POST">
                    <h2 class="form-signin-heading">Please log in</h2>
                    <label for="username" class="sr-only">Email address</label>
                    <input type="text" id="username" name="username"
                           class="form-control{% if has_error('auth') %} has-error has-feedback{% endif %}"
                           placeholder="Username"
                           required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember" name="remember"> Remember me
                        </label>
                    </div>
                    {{ csrf() }}
                    <button value="Login"
                            class="btn btn-lg btn-primary btn-block{% if has_error('auth') %} has-error has-feedback{% endif %}"
                            type="submit">Log in
                    </button>
                    {% if has_errors() %}
                        <div>
                            {% for error in errors('auth') %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
                <div>
                    New to us? <a href="{{ path_for('register') }}">Sign in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}