{% extends 'layout.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-5 col-xl-4">
                <form class="form-signin" action="{{ path_for('register') }}" method="POST">
                    <h2 class="form-signin-heading">Create a new account</h2>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username"
                           class="form-control{% if has_error('username') %} has-error has-feedback{% endif %}"
                           placeholder="Username"
                           required autofocus>
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email"
                           class="form-control{% if has_error('email') %} has-error has-feedback{% endif %}"
                           placeholder="Email"
                           required>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword"
                           class="form-control{% if has_error('password') %} has-error has-feedback{% endif %}"
                           placeholder="Password" required>
                    <label for="inputPasswordConfirm" class="sr-only">Password</label>
                    <input type="password" name="password_confirm" id="inputPasswordConfirm"
                           class="form-control{% if has_error('password_confirm') %} has-error has-feedback{% endif %}"
                           placeholder="Confirm password" required>
                    {{ csrf() }}
                    <button value="Register" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    {% if has_errors() %}
                        <div>
                            {% for paramErrors in errors() %}
                                {% for error in paramErrors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
                <div>
                    You already have an account? <a href="{{ path_for('login') }}">Log in</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}