{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">An error occurred on the client</h1>
        </div>
    </div>
{% endblock %}
